---
import Layout from '../../layouts/Layout.astro';
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { BlogPost } from '../../lib/contentful';
import { slugify } from '../../lib/utils/Slugify';
import BackButton from '../../components/BackButton';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: 'blogPost',
  });
  const pages = items.map((item) => ({
    params: { slug: slugify(item.fields.title) },
    props: {
      title: item.fields.title,
      date: new Date(item.fields.createdAt).toLocaleDateString(),
      imagesrc: item.fields.coverImage.fields.file.url,
      imagealt: item.fields.coverImage.fields.title,
      author: item.fields.author,
      content: documentToHtmlString(item.fields.content),
    },
  }));
  return pages;
}

const { content, title, date, imagesrc, imagealt, author } = Astro.props;
---

<Layout title={title}>
  <!-- Back button -->
  <BackButton client:visible />

  <article>
    <!-- CoverImage -->
    <img src={imagesrc} alt={imagealt} transition:name={'blog-image-' + slugify(title)} />

    <!-- Header section -->
    <div>
      <div>
        <h1 class='text-3xl font-bold' transition:name={'blog-title-' + slugify(title)}>{title}</h1>
        <time class='text-neutral-600 text-sm' transition:name={'blog-image-' + slugify(date)}>{date}</time>
      </div>

      <a class='flex gap-2 items-center' href={'/authors/' + slugify(author.fields.name)}>
        <img
          class='rounded-full w-14 h-14'
          src={author.fields.profileImage.fields.file.url}
          alt='profileImage'
          transition:name='profile-image'
        />
        <div class='flex flex-col'>
          <b>Author:</b>
          <span class='text-primary-500'> {author.fields.name}</span>
        </div>
      </a>
    </div>
    <!-- Divider -->
    <hr class='border-t-2' />

    <!-- Content -->
    <div id='blogContent' class='mt-4 mx-4' set:html={content} />
  </article>
</Layout>
