---
import { contentfulClient } from '../../lib/contentful';
import { slugify } from '../../lib/utils/Slugify';
import { Author } from '../../lib/contentful';
import Layout from '../../layouts/Layout.astro';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<Author>({
    content_type: 'author',
  });

  const pages = items.map((item) => ({
    params: {
      slug: slugify(item.fields.name),
    },
    props: {
      name: item.fields.name,
      image: item.fields.profileImage.fields.file.url,
      oneliner: item.fields.oneliner,
      bio: documentToHtmlString(item.fields.bio),
    },
  }));
  return pages;
}

const { name, image, oneliner, bio } = Astro.props;
---

<Layout title={name}>
  <article>
    <div>
      <div>
        <h1>{name}</h1>
        <blockquote>{oneliner}</blockquote>
      </div>
      <img src={image} alt={name} transition:name='profile-image' />
    </div>
    <div>
      <article set:html={bio} transition:name='bio' />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, dolores exercitationem rem laudantium hic minima
        iste, fuga quidem molestias voluptatem commodi atque aliquam? Laudantium deserunt autem minus dicta iste dolore.
        Molestiae hic consectetur asperiores quaerat explicabo. Soluta odio quam, sit porro perspiciatis ipsum quia
        obcaecati totam reiciendis nostrum aliquam, repellendus officiis illum ullam facere fugit, debitis asperiores.
        Fugiat, quibusdam eum. Commodi ex repellendus officiis eum odit nemo error id asperiores laboriosam facilis
        dolorem temporibus ratione doloremque ab velit nesciunt perferendis nisi accusantium illo adipisci, laudantium
        labore impedit eveniet iusto? Aspernatur. Earum beatae alias tempore nesciunt voluptatibus consequuntur ipsum
        aliquam magni excepturi perspiciatis! Similique deleniti autem ipsam pariatur suscipit ullam quo exercitationem
        deserunt sit laboriosam mollitia, voluptatibus labore. Voluptate, quia corrupti? Perspiciatis accusantium quos,
        est illo ad pariatur laboriosam esse, vitae cumque fuga iure. Hic cumque dolore quis blanditiis perspiciatis
        iusto quisquam commodi ab quidem. Velit dolorum architecto porro harum sapiente! Delectus cumque est
        necessitatibus magnam soluta culpa sapiente in rem nihil! Nihil voluptas asperiores, ut provident pariatur fugit
        molestias id totam aperiam amet consequatur, omnis possimus officia quia optio quaerat! Voluptatibus rerum
        dolores qui at, eligendi praesentium corrupti temporibus. Itaque, exercitationem quam dolorum possimus
        voluptatum est commodi atque perspiciatis blanditiis deleniti, earum omnis fugiat? Ipsam adipisci eaque commodi
        veritatis repudiandae? Quam dicta rerum, error rem animi, minus mollitia, temporibus deleniti minima reiciendis
        voluptas ut atque. Culpa, alias sequi veniam velit tempore ratione, totam quaerat animi, perspiciatis pariatur
        obcaecati rem nisi? Quis sit libero modi et sunt natus facere eveniet impedit ratione vitae ullam eum quibusdam
        omnis dolorem consequuntur aliquid aut aperiam, mollitia illum cupiditate accusamus odio beatae blanditiis nisi.
        Rerum? Architecto nobis odio porro praesentium ut! Nisi, voluptas autem a optio ab, asperiores omnis eum
        molestias eaque temporibus reprehenderit. Sed consequuntur ipsa impedit eum porro ipsum, delectus deserunt?
        Nihil, deleniti? Nobis molestiae, neque dolorem praesentium sed iste blanditiis vero, eaque perspiciatis
        exercitationem veniam, facere ratione ab autem accusantium nesciunt inventore aliquam commodi accusamus corrupti
        error ipsa. Laboriosam aspernatur cum reprehenderit. Nesciunt ipsa illo, doloribus natus quos sequi ipsum velit
        architecto voluptatibus recusandae! Quae maiores, esse sed, reprehenderit iure provident hic ipsum enim placeat
        perspiciatis necessitatibus voluptatem eius aspernatur eum quos. Tempora a incidunt natus cupiditate alias
        fugit? Unde, error eveniet aliquid voluptate blanditiis tempore iusto maxime commodi dolor nobis repellendus
        perspiciatis ipsa ullam, doloribus, perferendis temporibus! Quam quos ea placeat? Beatae libero quo esse
        consequatur. Iure, labore modi. Sit dolorum cumque sapiente repudiandae illum doloremque rerum fugiat tempora
        dolor, autem modi officia corporis ipsum doloribus consequuntur ullam incidunt eaque qui. Culpa ipsam architecto
        illum ab natus delectus veniam ratione hic quod quisquam ea maiores debitis temporibus, dolores obcaecati, quos
        fuga impedit sapiente? Dolores ex earum accusamus saepe iusto quos architecto. Eum impedit vitae laboriosam
        quaerat odio praesentium consectetur? Expedita, debitis. Quis qui magni dignissimos eveniet, vel cupiditate
        nesciunt commodi earum ullam sapiente id magnam, vitae, iste repellat. Alias, illum repellat! Adipisci
        reiciendis et quisquam vero quaerat corporis beatae inventore saepe labore nisi, esse minus fugit quam. Quos,
        nam quisquam quidem impedit dolor obcaecati iure minus ducimus voluptates quasi totam pariatur. Alias quasi
        aliquam non necessitatibus dolorem animi doloribus cumque nesciunt sit ducimus natus minima praesentium fugiat
        quae recusandae, cupiditate accusamus sed minus magnam dolores nisi labore error. Cumque, aliquam incidunt?
        Ratione quidem, nam dolor itaque obcaecati, veritatis quae iusto iste sapiente ullam quisquam ipsa unde omnis
        sequi ea tempora alias exercitationem consequatur qui eos, velit architecto? Odio vel iure minima. Repellendus,
        quos odio. Est, magnam necessitatibus non consectetur sed nulla suscipit quisquam illum repellat delectus vel
        hic eligendi quibusdam, quam praesentium. Sapiente libero animi nobis voluptate ea iusto veniam excepturi.
      </p>
    </div>
  </article>
</Layout>
