---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Layout from '../../layouts/Layout.astro';
import { contentfulClient, type Author } from '../../lib/contentful';
import { slugify } from '../../lib/utils/Slugify';
import { Image } from 'astro:assets';

const entries = await contentfulClient.getEntries<Author>({
  content_type: 'author',
});

const authors = entries.items.map((item) => {
  const { name, profileImage, oneliner, bio } = item.fields;
  return {
    name,
    image: profileImage.fields.file.url,
    oneliner,
    bio: documentToHtmlString(bio),
    slug: slugify(name),
  };
});
---

<Layout title='Authors'>
  <h1 class='text-3xl font-bold mb-6'>Our authors</h1>

  <ul class='grid grid-cols-2 gap-2'>
    {
      authors.map((author) => (
        <a href={'/authors/' + author.slug}>
          <li class=''>
              <Image
                class='rounded-full h-[150] w-[150] object-cover]'
                width={150}
                height={150}
                quality={'low'}
                src={author.image}
                alt={author.name}
                transition:name='profile-image'
              />
              <div>
                <span class='font-bold text-lg'>{author.name}</span>
                <blockquote>{author.oneliner}</blockquote>
              </div>
            </div>
            <article set:html={author.bio} />
          </li>
        </a>
      ))
    }
  </ul>
</Layout>
