---
import { Image } from 'astro:assets';
const { title, createdAt, slug, imagesrc, imagealt, author } = Astro.props;
---

<a href={`/posts/${slug}/`}>
  <li>
    <Image width={300} height={200} quality={0} src={imagesrc} alt={imagealt} transition:name={'blog-image-' + slug} />
    <div>
      <h2 transition:name={'blog-title-' + slug}>
        {title}
      </h2>
      <time transition:name={'blog-date-' + slug}>
        {createdAt}
      </time>
      <div>Author: {author}</div>
    </div>
  </li>
</a>

<!-- 
  transition:name={'blog-image-' + slug} 
  transition:name={'blog-title-' + slug}
  transition:name={'blog-date-' + slug}
 -->
